.cardReview {
	height: 10rem;
	cursor: pointer;
}
.cardContent {
	width: 95%;
	height: 100%;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.09);
	border-radius: var(--br-two);
	background-color: var(--white);
	padding: 0.5rem;
}
.cardContent div {
	height: 100%;
	width: 100%;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.cardImage {
	width: 90%;
	border-radius: 50%;
}

.cardData {
	gap: 0.7rem;
}
