/* header  */
header {
	height: 9rem;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.09);
	border-bottom-left-radius: var(--br-two);
	border-bottom-right-radius: var(--br-two);

	display: flex;
	flex-direction: row;
	justify-content: end;

	padding: 0.7rem 1.5rem;
}

.userInfo {
	height: 100%;
	width: auto;

	display: flex;
	flex-direction: row;
	align-items: center;
}

.userPhoto {
	height: 70%;
	width: auto;
	border-radius: 50%;
}
