/* nav  */
nav {
	height: 55vh;
	width: 100%;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.09);
	border-radius: var(--border-radious);
	background-color: #fff;
	display: flex;
	flex-direction: row;
	padding: 2rem 1rem;
}

.logoPhoto {
	width: 100%;
	height: auto;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
