.menuItemContainer {
	height: 3.2rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
	padding: 0 1rem;
	border-radius: var(--br-2);
	margin-bottom: 1rem;
}

.active {
	background-color: var(--color-main);
}

.active svg path {
	fill: var(--white);
}

.active p {
	color: var(--white);
}
