@import "./fonts.css";
@import "./spacings.css";

:root {
	/*colors*/
	--black: #000;
	--white: #fff;
	--color-main: #1a99d9;
	--color-secondary: #a81e7e;
	--color-danger: #cf2032;

	--tittle: #4e4e4e;
	--text: #606060;
	--secondary-text: #909090;

	--background-main: #f5f4f4;
	--background-secondary: #d9d9d9;
	--background-table: #e7e6e6;
	--background-overlay: #4e4e4e;

	/* Colors from jac*/
	--highlight: #4a4e5c; /*cambio 2c74bb*/
	--main-color: var(--black); /*cambio 141a26*/
	--gray: #eee;
	--gray2: #d9d9d9;
	--gray3: #5a5a5a;
	--selectedTab: #4a4e5c;
	--active: #4fc24e;
	--unactive: #d4505d;
	/* Colors from jac*/

	--gray: #7e7e7e;
	--no-name-two: #021b29;

	/* Border Radious */
	--br-1: 0.5rem;
	--br-2: 1rem;
	--br-3: 2rem;
}
*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
	padding: 0;
	border: 0;
	margin: 0;
}
html {
	font-size: 10px;
}
body {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	border: 0;
	margin: 0;
	font-weight: normal;
	line-height: 1.4rem;
	background-color: var(--background-main);
}

.fullPage {
	min-height: 100vh;
}

.content-side {
	padding: 3rem 0 3rem 2rem;
}

.navbar-side {
	padding: 3rem 0rem 3rem 0;
}

.mainContainer {
	background-color: var(--white);
	padding: 2rem;
	border-radius: var(--br-1);
	height: 100%;
}

a {
	text-decoration: none;
}

.loaderContainer {
	height: calc(100vh - 7rem - 3rem - 5rem - 3rem - 6rem);
}

/* Tables Styles */
.tableContainer {
	overflow-x: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.tableContainer::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.tableContainer {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
